<!-- INICIO DO CONTEUDO -->
<div class="col-xs-12 col-sm-6">

    <div class="box box-solid">
        <div class="box-header with-border">
            <span class="review-score pull-right"><i class="fa fa-star"></i> rating</span>
            <div class="user-block">
                <span class="username">name</span>
                <span class="description">data</span>
            </div>
        </div>

        <div class="box-body">
            <p>comentário</p>
        </div>
    </div>

</div>
<!--FIM DO CONTEUDO -->
